@font-face {
    font-family: "SF-Pro-Display-Bold";
    src: url("../public/fonts/SFProFonts/SF-Pro-Display-Bold.otf");
}
@font-face {
    font-family: "SF-Pro-Display-Medium";
    src: url("../public/fonts/SFProFonts/SF-Pro-Display-Medium.otf");
}